@import '../../style.scss';

.donut {
  position: absolute;
  width: 132px;
  height: 132px;
}

.donut__container {
  border-radius: 50%;
  transform: rotate(-90deg);
  fill: transparent;
  stroke: $red;
}

.donut__container--target { stroke: $red; }
.donut__container--actual { stroke: $green-pastell; }

.label__distance:after {
  content: 'km';
  margin-left: 2px;
  font-size: 0.6em;
  font-weight: 200;
}

.label__distance--actual {
  z-index: 999;
  left: 3px;
  top: 30px;
}

.label__distance--target {
  z-index: 999;
  left: 3px;
  top: 68px;
}
