@import '../../style.scss';

.progressbar {
  width: 112px;
  height: 32px;
  margin-top: 12px;
  border: 0.15em solid $purple;
  background-color: $purple-light;
}

.progressbar__gauge {
  background-color: $purple;
  height: 100%;
}

.label__intensity { top: 55px; }
.label__intensity:after {
  margin-left: 2px;
  content: '%';
}
