body {
  font-family: 'Catamaran', sans-serif;
  margin: 0;
  background-color: #eff5f9;
}

.topbar {
  height: 40px;
  background-color: #2c3e50;
}

.logo {
  font-size: 28px;
  font-weight: 900;
  text-align: center;
}

.logo:before {
  content: '•';
  margin-right: 8px;
  color: #7f8c8d;
}

.logo:after {
  content: '•';
  margin-left: 8px;
  color: #7f8c8d;
}

.yellow {
  color: #f1c40f;
}

.white {
  color: #ecf0f1;
}

.run {
  padding: 16px 16px 32px 32px;
  border-bottom: 1px solid #ccc;
  clear: both;
  max-width: 896px;
  margin: 0 auto;
  overflow: auto;
  text-align: center;
}

.run:last-child {
  border-bottom: none;
}

.date {
  font-size: 22px;
  margin: 0;
  font-weight: 600;
  text-align: center;
}

.route {
  font-size: 16px;
  color: #888;
  margin-top: 0;
  font-weight: 400;
  text-align: center;
}

.widget {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: 160px;
  width: 224px;
  padding: 16px 48px;
}

@media (min-width: 494px) and (max-width: 719px) {
  .widget:nth-child(odd) {
    border-right: 1px solid #ccc;
  }
}

@media (min-width: 720px) and (max-width: 943px) {
  .widget:nth-child(-n+4) {
    border-right: 1px solid #ccc;
  }
}

@media (min-width: 944px) {
  .widget {
    border-right: 1px solid #ccc;
  }
}

.widget:last-child {
  border-right: 0;
}

.value {
  position: absolute;
  text-align: center;
  padding-top: 28px;
  font-size: 28px;
  font-weight: 600;
}

.reference {
  position: absolute;
  text-align: center;
  padding-top: 28px;
  font-size: 20px;
  width: 100%;
  font-weight: 200;
}

.distance-value {
  top: 18px;
  left: 0;
  width: 100%;
}

.distance-value:after {
  content: 'km';
  margin-left: 2px;
  font-size: 16px;
  font-weight: 200;
}

.distance-reference {
  top: 54px;
  left: 0;
}

.distance-reference:after {
  content: 'km';
  margin-left: 2px;
  font-size: 13px;
  font-weight: 200;
}

.intensity {
  padding-top: 28px;
}

.intensity-value {
  top: 55px;
  left: 0;
  width: 100%;
}

.intensity-value:after {
  content: '%';
}

.time-value {
  top: 36px;
  left: 0;
  width: 100%;
  color: #fff;
}

.time-value:after {
  content: 'h';
  margin-left: 2px;
  font-size: 16px;
  font-weight: 200;
}

.time-reference {
  top: 88px;
  left: 0;
}

.time-reference:before {
  content: '🏁';
  margin-right: 5px;
}

.time-reference:after {
  content: 'h';
  margin-left: 2px;
  font-size: 13px;
  font-weight: 200;
}

.pace-value {
  top: 40px;
  left: 0;
  width: 100%;
}

.pace-value:after {
  content: 'km/h';
  margin-left: 2px;
  font-size: 16px;
  font-weight: 200;
}

.pace-reference {
  top: 80px;
  left: 0;
}

.pace-reference:after {
  content: 'km/h';
  margin-left: 2px;
  font-size: 13px;
  font-weight: 200;
}

.spinner {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 200px auto 0 auto;
  color: #7f8c8d;
}

.double-bounce1, .double-bounce2 {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #95a5a6;
  opacity: 0.6;
  top: -80px;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
