body {
  font-family: 'Catamaran', sans-serif;
  margin: 0;
  background-color: #eff5f9;
}

.run {
  padding: 1em 1em 2em 2em;
  border-bottom: 1px solid #ccc;
  clear: both;
  overflow: auto;
}

.run:last-child {
  border-bottom: none;
}

.date {
  font-size: 1.4em;
  margin: 0;
}

.route {
  font-size: 1em;
  color: #888;
  margin-top: 0;
}

.widget {
  position: relative;
  box-sizing: border-box;
  height: 8em;
  width: 14em;
  float: left;
  padding: 0 3em;
  border-right: 1px solid #ccc;
}

.widget:last-child {
  border-right: 0;
}

.value {
  position: absolute;
  text-align: center;
  font-size: 1.75em;
  font-weight: bold;
}

.reference {
  position: absolute;
  text-align: center;
  font-size: 1.25em;
  width: 100%;
}

.reference:before {
  content: '(';
}

.reference:after {
  content: ')';
}

.distance-value {
  top: 1em;
  left: 0;
  width: 93%;
}

.distance-value:after {
  position: absolute;
  content: 'km';
  bottom: 0.5em;
  margin-left: 0.15em;
  font-size: 0.5em;
}

.distance-reference {
  top: 3.25em;
  left: 0;
}

.intensity {
  padding-top: 1.5em;
}

.intensity-value {
  top: 2.5em;
  left: 0;
  width: 100%;
}

.intensity-value:after {
  content: '%';
}

.time-value {
  top: 1.75em;
  left: 0;
  width: 97%;
  color: #fff;
}

.time-value:after {
  position: absolute;
  content: 'h';
  bottom: 0.5em;
  margin-left: 0.15em;
  font-size: 0.5em;
}

.time-reference {
  top: 5em;
  left: 0;
}

.pace-value {
  top: 2em;
  left: 0;
  width: 90%;
}

.pace-value:after {
  position: absolute;
  content: 'km/h';
  bottom: 0.5em;
  margin-left: 0.15em;
  font-size: 0.5em;
}

.pace-reference {
  top: 4.75em;
  left: 0;
}
