@import '../../style.scss';

.pie {
  margin-left: 15px;
  width: 95px;
  height: 95px;
}

.pie__container {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
  border-radius: 50%;
  background: $gray-medium;
}

.pie__fill {
  fill: transparent;
  stroke: $blue;
}

.label__time:after {
  content: 'h';
  margin-left: 2px;
  font-size: 0.6em;
  font-weight: 200;
}

.label__time--actual {
  z-index: 999;
  color: #fff;
  top: 45px;
}

.label__time--target {
  z-index: 999;
  top: 100px;
  text-align: left;
}

.label__time--estimated {
  z-index: 999;
  top: 100px;
  text-align: right;
  font-weight: 400;
}
.label__time--estimated:before {
  content: '🏁';
  margin-right: 4px;
}
